<div class="page-wrapper">
  <app-login></app-login>
  <main class="page-content">


    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid me-5 ms-4">
        <!-- Navbar brand -->
        <a class="nav-link p-3" href="#" (click)="itemService.filterItems()">All Products 🥁</a>
        <a class="nav-link p-3" href="#" (click)="itemService.filterItems('HOME')">Home 🏡</a>
        <a class="nav-link p-3" href="#" (click)="itemService.filterItems('FITNESS')">Fitness 👟</a>
        <a class="nav-link p-3" href="#" (click)="itemService.filterItems('DEVICES')">Devices 📲</a>
        <a class="nav-link p-3" href="#" (click)="itemService.filterItems('BOOKS')">Books 📚</a>
        <a class="nav-link p-3" href="#" (click)="itemService.filterItems('HOBBIES')">Hobbies 🎭</a>
        <ul class="navbar-nav d-flex flex-row me-1">
          <div class="me-3">
          <app-shopping-card></app-shopping-card>
          </div>
          <span class="cart-count">
             <img src="/assets/images/icons8-shopping-cart-48.png" alt="My Image">
                   <em>{{cartProductCount}}</em></span>
        </ul>

      </div>
      <!-- Container wrapper -->
    </nav>
    <div class="overview-page">
      <app-overview-page></app-overview-page>
    </div>
  </main>
</div>



