<div *ngIf="itemService.addItemForRentOpened" class="popup-container">
  <form [formGroup]="createItemFromGroup" class="item-form" (ngSubmit)="createItem()" enctype="multipart/form-data">
    <div class="popup-content">
      <div class="popup-header">
        <h2>Add Item 📎</h2>
        <button class="close-button" (click)="closePopup()">×</button>
      </div>

      <label for="item-title">Title:</label>
      <input type="text" id="item-title" name="item-title" formControlName="title" required>

      <label for="item-description">Description:</label>
      <input id="item-description" name="item-description" formControlName="description" required>

      <label for="item-description">Type:</label>
      <input id="item-type" name="item-type" formControlName="itemType" required>

      <label>Upload Picture 1:</label>
      <input type="file"
             accept="image/jpeg, image/png" (change)=onFileChange1($event)
             required/>

      <label>Upload Picture 2:</label>
      <input type="file"
             accept="image/jpeg, image/png" (change)="onFileChange2($event)" required/>

      <label>Upload Picture 3:</label>
      <input type="file" accept="image/jpeg, image/png"
             (change)="onFileChange3($event)"
             required/>

      <label for="item-price">Price per Day:</label>
      <input id="item-price" name="item-price" formControlName="pricePerDay" required/>

      <button type="submit" class="submit-button">Submit</button>

    </div>
  </form>
</div>
