@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.welcome-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #3a1c71; /* Dark purple color */
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  border: 1px solid black;
}

.subtext {
  text-align: center;
  font-size: 16px;
  color: #3a1c71; /* Dark purple color */
  margin-bottom: 20px;
}

.title {
  border-radius: 8px;
}


.app-description {

  padding: 15px;
  margin: 0px 30px;
  border: 0px solid rgba(100, 100, 100, 1);
  border-radius: 16px;
  background: linear-gradient(
      25deg,
      rgba(255, 255, 255, 0.71) 100%,
      rgba(255, 255, 255, 0.71) 100%,
      rgba(255, 255, 255, 0.22) 100%
  );
  //background-blend-mode: ;
  box-shadow: 0px 4px 24px 21px rgba(0, 0, 0, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f5f6fa;
}

.wrapper .sidebar {
  //background: url('/assets/images/arch.jpeg') no-repeat center center / cover;
  position: fixed;
  //filter: brightness(50%);
  top: 0;
  left: 0;
  width: 450px;
  height: 100%;
  //padding: 40px 0;
  transition: all 0.5s ease;

  &::before {
    content: ""; /* Pseudo-element content */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/arch.jpeg') no-repeat center center / cover;
    filter: brightness(50%);
    z-index: -1; /* Place it behind the content of .sidebar */
  }
}

//----------- profile picture scss ---------------------

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;

}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}


.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}


.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}


> > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > >
  /* login.component.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff6b6b, #3a1c71); /* Gradient background with vibrant colors */
}

.login-box {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-right: 60px;
  margin-left: 60px;
}

h2 {
  text-align: center;
  color: #3a1c71; /* Dark purple color */
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #3a1c71;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #3a1c71;
  border-radius: 4px;
  font-size: 16px;
  width: -webkit-fill-available;
}

button {
  background: linear-gradient(to right, #fc7e5e, #ff6b6b); /* Gradient button background with warm colors */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(to right, #ff6b6b, #fc7e5e);
}

.separator {
  text-align: center;
  margin: 10px 0;
  color: #777777;
}

.register-link {
  text-align: center;
}

.register-link p {
  color: #3a1c71;
}

.register-link a {
  color: #ff6b6b;
  text-decoration: none;
}


.google-login {
  text-align: center;
}

.google-login button {
  background: linear-gradient(to right, #4285f4, #34a853, #fbbc05, #ea4335); /* Google colors */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.google-login button:hover {
  background: linear-gradient(to right, #4285f4, #34a853, #fbbc05, #ea4335);
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> profile
.side-bar {
  padding-bottom: 30px;
  background: white;
  height: 800px;
  border: #dee2e6 1px solid;
  border-radius: 6px;

  .user-info {
    text-align: center;
    margin-bottom: 15px;
    padding: 30px;
    color: #616670;
    border-bottom: 1px solid #f3f3f3;

    img {
      width: 120px;
      height: 120px;
      margin-bottom: 15px;
      border-radius: 100px;
    }

    .meta li {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .side-menu {
    text-align: center;

    .nav {
      display: flex;
      flex-direction: column; // Stack items vertically
      padding-left: 30px;


      > li {
        font-size: 25px;
        margin-bottom: 15px;
        border: #dee2e6 1px solid;


        > a {
          display: inline-block;
          width: 100%; // Make buttons take up full width
          color: #9499a3;
          padding: 10px;
          border-bottom: 2px solid transparent;

          &:hover {
            color: #616670;
            background: none;
          }

          &.active {
            color: #40babd;
            border-bottom: 2px solid #40babd;
            background: none;
            border-right: none;
          }

          .theme-2 &.active {
            color: #6dbd63;
            border-bottom-color: #6dbd63;
          }

          .theme-3 &.active {
            color: #497cb1;
            border-bottom-color: #497cb1;
          }

          .theme-4 &.active {
            color: #ec6952;
            border-bottom-color: #ec6952;
          }
        }
      }
    }
  }
}


// >>>>>>>>>>>>>>>> add item popup >>>>>>>>>>>>>>>>>>>>>>>>>>




