<div class="wrapper">
  <!--Top menu -->
  <div class="sidebar">
    <div class="mt-5">

      <ng-container *ngIf="!(userService.user$ | async) as user">
        <div class="d-flex justify-content-center">
        <h1 class="welcome-header" style="width: 300px">Welcome to RentZ</h1>
        </div>
        <p>&nbsp;</p>

        <div id="app">

          <!-- login.component.html -->

          <div class="login-container">
            <div class="login-box" style="text-align: center">
              <h4 style="text-align: center">Log into your profile to rent items.</h4>
              <div *ngIf="!showRegisterForm">
                <h2>Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <div class="input-group">
                    <label for="email">Email</label>
                    <input formControlName="email" type="email" id="email" name="newEmail" required>
                    <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
                         class="error-message">Email is required
                    </div>
                  </div>


                  <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="newPassword" formControlName="password" required>

                    <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
                         class="error-message">Password is required
                    </div>
                  </div>

                  <button type="submit">Login</button>
                </form>

                <div class="separator">or</div>


                <div class="google-login">
                  <button (click)="loginWithGoogle()">Login with Google</button>
                </div>
                <br>
                <div class="register-link">
                  <p>Don't have an account? <a href="#" (click)="toggleRegister()">Register here</a></p>
                </div>
              </div>
              <div *ngIf="showRegisterForm" class="register-form">
                <app-register-user></app-register-user>
              </div>

            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="(userService.user$ | async) as user">


        <!-- HTML -->
        <!-- HTML -->
        <div class="side-bar m-3">
          <div class="user-info">
            <img src="/assets/images/vct.jpeg" alt="">
            <ul class="meta list list-unstyled">
              <li class="name" style="font-size: 20px">{{(userService.user$ | async)?.name}}</li>
              <li class="name" style="font-size: 15px">{{(userService.user$ | async)?.email}}</li>
              <li class="name" style="font-size: 15px">{{(userService.user$ | async)?.phoneNumber}}</li>
              <li class="name" style="font-size: 15px">{{(userService.user$ | async)?.town}}</li>

            </ul>
          </div>
          <nav class="side-menu me-3">
            <ul class="nav" style=" text-align: left">
              <!--            <li><a><span class="fa fa-credit-card"></span> 📝 Edit Profile</a></li>-->
              <li class="active" (click)="itemService.addItemForRent()"><a href="#"><span class="fa fa-user"></span> ➕
                Add
                item for
                rent
              </a>

              </li>
              <li (click)="showUsersItemsForRent()"><a href="#"><span class="fa fa-envelope"></span> 🎮 My items for rent
              </a></li>
              <li (click)="showUserReservations()"><a href="#"><span class="fa fa-cog"></span> 📆 My Reservations</a>
                <div *ngIf="usersReservations !== [] && isMyReservationsOpen">
                  <ul *ngFor="let reservation of usersReservations" class="list-group" style="font-size: medium">
                    <li class="list-group-item  d-flex justify-content-between m-2">
                      <span class="ms-2">{{reservation.itemTitle}} </span>
                      <span class="me-2">  {{reservation.bookedOn}} - {{ reservation.bookedUntil}}</span>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="#"><span (click)="logout()" class="fa fa-clock-o"> 🏃 Logout</span></a></li>
            </ul>
          </nav>
        </div>

      </ng-container>
    </div>
  </div>
</div>

<app-create-item></app-create-item>




