<div *ngIf="cardService.isShoppingCartOpen &&( userService.user$ | async)">
  <div class="product-cart me-5" *ngIf="cardService.cartItems && cardService.cartItems.length > 0">
    <ul>
      <li class="justify-content-between" *ngFor="let item of cardService.cartItems">
        <img [width]="32" [height]="32" class="card-img-top"
             src="{{'data:image/jpg;base64,' + item.item.picture1Base64}}" alt="Card image cap">
        {{item.item.title}}
        <span>{{item.totalPrice }} лв.</span>
        <button type="button" class="close" style="width: 25px; height: 25px" aria-label="Remove Item"
                (click)="cardService.removeProductFromCart(item.item.id)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>
    <div class="cart-total">
      <!--    <p><button type="button" class="btn btn-outline-primary btn-sm" (click)="emptyCart()">Empty Cart</button></p>-->
      <div class="row d-flex justify-content-between">
        <div>Total: {{getTotalPrice() }} лв.</div>
        <div>
          <button type="button" aria-label="Checkout" (click)="requestCheckout()">
            <span>Checkout</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

